@use "/styles/variables";

@keyframes turn {
  0% {
    filter: blur(30px);
  }
  50% {
    filter: blur(60px);
  }
  100% {
    filter: blur(30px);
  }
}

.Welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  flex: 1;
  height: calc(100vh);

  p {
    &:first-child {
      font-size: 4rem;
      color: #434243;
      font-weight: lighter;
    }

    &:nth-child(2) {
      font-size: 6rem;
      color: #fff;
    }

    &:nth-child(3) {
      font-size: 6rem;
      color: #fff;
      align-self: flex-end;
      background: linear-gradient(-45deg, #fc466b 0%, #3f5efb 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
