@keyframes turn {
  0% {
    filter: blur(50px);
    transform: translate3d(0px, 20px, 0) scale(1) skew(0deg);
  }
  50% {
    filter: blur(100px);
    transform: translate3d(0px, 20px, 0) scale(1) skew(15deg, -5deg);
  }
  100% {
    filter: blur(50px);
    transform: translate3d(0px, 20px, 0) scale(1) skew(0deg);
  }
}

.Home {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: auto;
    justify-content: space-between;
  }

  &__shadow {
    position: absolute;
    background-color: transparent;
    height: 600px;
    width: 700px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;

    @media screen and (max-width: 1080px) {
      width: 500px;
      height: 400px;
    }

    &__1 {
      top: -3%;
      left: 45%;
      opacity: 0.2;

      @media screen and (max-width: 1080px) {
        top: 0%;
        left: 100%;
        opacity: 0.25;
      }
    }

    &__2 {
      top: 100vh;
      left: 100%;
    }

    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(-45deg, #7333f2 0%, #712afc 100%);
      transform: translate3d(0px, 20px, 0) scale(1);
      filter: blur(30px);
      opacity: 0.7;
      transition: opacity 0.3s;
      border-radius: inherit;
      animation: 4s turn infinite;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
    }
  }
}
